$post-color: rgba(131, 69, 69, 0.16);
$mobile: 450px;

$padding: calc(20px + (50 - 20) * (100vw - 320px) / (1200 - 320));

.main {
  //padding: 25px 50px 0 50px;
  padding: 25px $padding 0 $padding;
  @media (max-width: $mobile) {
    padding: 25px 20px 0 20px;
  }

  .profile {
    display: flex;
    align-items: center;
    flex-direction: column;

    .profile__img {

      //width: 180px;
      //height: 180px;
      border-radius: 1000px;
      overflow: hidden;

      width: calc(120px + (180 - 120) * (100vw - 320px) / (1200 - 320));
      height: calc(120px + (180 - 120) * (100vw - 320px) / (1200 - 320));
      @media (max-width: $mobile) {
        width: 120px;
        height: 120px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    .profile__inf {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;

      span {
        margin-top: 10px;

        &:first-child {
          margin-top: 0;
        }
      }
    }
  }

  .posts {
    margin-bottom: 10px;

    .button__wrapper {
      display: flex;
      justify-content: end;
      height: 0;
      //border: 1px solid red;

      button {
        position: absolute;
        transform: translateY(-100%);

        margin-right: 20px;
      }
    }
  }
}
