$post-color: rgba(131, 69, 69, 0.16);

*,
*:after,
*:before {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", serif;
  font-weight: 400;
  //min-height: 100vh;
}

body::-webkit-scrollbar {
  width: 0;
}

button {
  font-family: "Inter", serif;
  font-weight: 500;
  color: #834545;
  cursor: pointer;
  padding: 10px;
  border: 2px solid $post-color;
  border-radius: 10px;

  transition: all 0.15s ease;

  &:hover {
    background-color: #834545;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
  }
}

a {
  color: #FFFFFF;
  transition: all 0.15s ease;
  text-decoration: none;

  &:hover {
    color: #ece2e2;
  }
}

$mobile: 450px;
.body__main {
  margin-top: 50px;
}